<div class="ant-card ant-card-bordered ">
  <div class="ant-card-body  d-flex  w-100 justify-content-center">
    <div class="grid">
      <div class="dientes level-8">
        <img id="diente-16" src="assets/dientes/diente-8.png" type="image/svg+xml" class="mr-0 s2"
          (click)="dientes.diente1  = !dientes.diente1" [ngClass]="{'invert': dientes.diente1}"
          style="transform: rotateZ(178deg) rotateX(180deg);" />
        <img id="diente-15" src="assets/dientes/diente-8.png" type="image/svg+xml" class="ml-0 s1"
        (click)="dientes.diente2  = !dientes.diente2" [ngClass]="{'invert': dientes.diente2}"/>
      </div>
      <div class="dientes level-7">
        <img id="diente-14" src="assets/dientes/diente-7.png" type="image/svg+xml" class="mr-0 a"
          style="transform: rotateZ(178deg) rotateX(180deg);"  (click)="dientes.diente3  = !dientes.diente3" [ngClass]="{'invert': dientes.diente3}"/>
        <img id="diente-13" src="assets/dientes/diente-7.png" type="image/svg+xml" class="ml-0 "
        (click)="dientes.diente4 = !dientes.diente4" [ngClass]="{'invert': dientes.diente4}" />
      </div>
      <div class="dientes level-6">
        <img id="diente-12" src="assets/dientes/diente-6.png" type="image/svg+xml" class="mr-0 a"
          style="transform: rotateZ(178deg) rotateX(180deg);"  (click)="dientes.diente5  = !dientes.diente5" [ngClass]="{'invert': dientes.diente5}"/>
        <img id="diente-11" src="assets/dientes/diente-6.png" type="image/svg+xml" class="ml-0 "
        (click)="dientes.diente6  = !dientes.diente6" [ngClass]="{'invert': dientes.diente6}"/>
      </div>
      <div class="dientes level-5">
        <img id="diente-10" src="assets/dientes/diente-5.png" type="image/svg+xml" class="mr-0 a"
          style="transform: rotateZ(200deg) rotateX(180deg);"  (click)="dientes.diente7  = !dientes.diente7" [ngClass]="{'invert': dientes.diente7}"/>
        <img id="diente-9" src="assets/dientes/diente-5.png" type="image/svg+xml" class="ml-0 "
          style="transform: rotate(350deg);"    (click)="dientes.diente8  = !dientes.diente8" [ngClass]="{'invert': dientes.diente8}"/>
      </div>
      <div class="dientes level-4">
        <img id="diente-8" src="assets/dientes/diente-4.png" type="image/svg+xml" class="mr-0 a"
          style="transform: rotateZ(189deg) rotateX(180deg);" (click)="dientes.diente9  = !dientes.diente9" [ngClass]="{'invert': dientes.diente9}"/>
        <img id="diente-7" src="assets/dientes/diente-4.png" type="image/svg+xml" class="ml-0 " (click)="dientes.diente10 = !dientes.diente10" [ngClass]="{'invert': dientes.diente10}"/>
      </div>
      <div class="dientes level-3">
        <img id="diente-6" src="assets/dientes/diente-3.png" type="image/svg+xml" class="mr-0 a"
          style="transform: rotateZ(189deg) rotateX(180deg);" (click)="dientes.diente11 = !dientes.diente11" [ngClass]="{'invert': dientes.diente11}" />
        <img id="diente-5" src="assets/dientes/diente-3.png" type="image/svg+xml" class="ml-0 " (click)="dientes.diente12 = !dientes.diente12" [ngClass]="{'invert': dientes.diente12}" />
      </div>
      <div class="dientes level-2">
        <img id="diente-4" src="assets/dientes/diente-2.png" type="image/svg+xml" class="mr-0" (click)="dientes.diente13  = !dientes.diente13" [ngClass]="{'invert': dientes.diente13}"
          style="transform: rotateZ(189deg) rotateX(180deg)" />
        <img id="diente-3" src="assets/dientes/diente-2.png" class="ml-0" style="transform: rotate(350deg);"
        (click)="dientes.diente14  = !dientes.diente14" [ngClass]="{'invert': dientes.diente14}"/>
      </div>
      <div class="dientes level-1">
        <img id="diente-2" src="assets/dientes/diente-1.png" type="image/svg+xml" class="mr-0"
          style="transform: rotateZ(180deg) rotateX(180deg)" (click)="dientes.diente15 = !dientes.diente15" [ngClass]="{'invert': dientes.diente15}"/>
        <img id="diente-1" src="assets/dientes/diente-1.png" type="image/svg+xml" class="ml-0t"
          style="transform: rotate(0deg);" (click)="dientes.diente16 = !dientes.diente16" [ngClass]="{'invert': dientes.diente16}"/>
      </div>
    </div>
  </div>
</div>
